@media(max-width:992px){

.hero{

padding:70px 0;

}

.hero-title{

font-size:38px;

}

.hero-house{

font-size:120px;

margin-top:40px;

}

}
.stat-card{

margin-bottom:20px;

}
.about-icon{

font-size:100px;

margin-top:30px;

}
.feature-card{

margin-bottom:20px;

}