*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8fafc;
    color:#222;
}

.hero{

    padding:100px 0;

}

.hero-title{

    font-size:54px;
    font-weight:700;
    line-height:1.2;

}

.hero-text{

    margin-top:25px;
    font-size:18px;
    line-height:1.8;
    color:#666;

}

.hero-card{

    background:white;

    border-radius:25px;

    padding:60px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.hero-house{

    font-size:170px;

    color:#16a34a;

}
/* ===========================
STATISTICS
=========================== */

.stat-card{

    background:#fff;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

    height:100%;

}

.stat-card:hover{

    transform:translateY(-10px);

}

.stat-icon{

    font-size:55px;

    margin-bottom:20px;

}

.stat-card h2{

    font-size:42px;

    font-weight:700;

}

.stat-card p{

    margin-top:10px;

    color:#666;

}
/* ===========================
ABOUT
=========================== */

#about{

padding:100px 0;

}

.about-card{

background:#fff;

padding:50px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

transition:.3s;

}

.about-card:hover{

transform:translateY(-10px);

}

.about-icon{

font-size:150px;

color:#16A34A;

}

#about p{

line-height:1.9;

color:#666;

}
/* ===========================
FEATURES
=========================== */

.feature-card{

    background:#fff;

    border-radius:20px;

    padding:35px;

    text-align:center;

    height:100%;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.feature-card:hover{

    transform:translateY(-10px);

}

.feature-icon{

    font-size:60px;

    margin-bottom:20px;

}

.feature-card h4{

    margin-bottom:15px;

    font-weight:600;

}

.feature-card p{

    color:#666;

    line-height:1.8;

}